.WeatherForecast {
  text-align: center;
}

.forecast-min {
  opacity: 0.5;
  margin-left: 5px;
}
.img {
  max-width: 50px;
}
.forecast-day {
  color: white;
}
@media (max-width: 800px) {
  .forecast-min {
    margin-left: 0px;
    font-size: 12px;
    opacity: 0.6;
  }
  .forecast-max {
    font-size: 12px;
  }
  .img {
    max-width: 25px;
  }
  .forecast-day {
    font-size: 14px;
  }
}
